
* {
    box-sizing: border-box;
    
    
   
}

body {
    margin: 0;
    padding: 0;
    /* background-color:#b5179e;  */
    font-family: 'Work Sans', sans-serif;
    transition: all  .9s;
    
    
    

}
/* .navbar
{
    width: 100%;
    
} */

.twp-video-background {
  
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    
    box-sizing: border-box; 
    opacity: 0.2;
}
.twp-video-foreground,
.twp-video-background video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:90vh;
    pointer-events: none;
    box-sizing: border-box;
    object-fit: cover; 
}

.twp-video-foreground{
    padding-bottom: 56.25%;
    box-sizing: border-box; 
}

.twp-video-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    
    
    box-sizing: border-box; 
}

.home
{
    background-color:white;
    width: 100%;
    height:100vh;
    /* border:1px solid white; */
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    align-items: center;
    font-size: 45px;
    padding:0 10px;
    /* padding-bottom:30px; */
    font-weight: 500;
    
    /* overflow: hidden; */
}

.home div{
    text-align: center;
}

#homemain .intro
{
    background-color:white;
    padding:0;
    margin-top:10%;
    text-align:center;
    
}
.intro .bigone
{
    font-size:100px;
    font-weight:900;
    color:#ffd60a;
}

.home .conclusion
{
    text-align:center;
    margin-top: 10%;
}

/* #homemain
{
    background-color:white;
}




 */


.about{
    background-color:white;
    width: 100%;
    height:auto;
    border:1px solid white;
    
   
    
    /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}


.about .head
{
    text-align: center;
    font-size:50px;
    font-weight:bolder;

}

.about-content
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.about-content .inside-content
{
    font-size:50px;
    
}

.about-content .inside-content2
{
    padding:0 40px;
    font-size:30px;
}

.inside-content3
{
    font-size: 30px;
}
/* -------------------------------------------- */

.about .button{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.button
{
    margin-bottom: 10px;
    margin-top: 60px;
}
.button button
{
    font-size: 25px;
    /* border-radius: 18px; */
    border-left: 0;
    border-right: 0;
    padding:10px;
    background-color: white;
    transition: all .5s ease;
    margin-bottom: 10px;
    border-color: black;
 
}


.button button:hover
{
    border-color: black;
    background-color: black;
    color:#ffffff;
    cursor: pointer;
    cursor: pointer;
    
    box-shadow: 0 0.5em 0.5em -0.4em #ffd60a;
    color:#ffd60a;
    transform:translateY(-.2em);
    
   
    
} 

/* ------------------------------------------ */


  
  


/* ------------------------------------------------- */

/* content section */

/* #allcontent
{
    display:none;
} */

#allcontent .inside-content3
{
    text-align:center;
}

#contentmain
{
    /* background-color:blue; */
    /* width:100%;
    height:250px; */
    margin:0 auto;
    /* border:1px solid blue; */
    font-size:10px;
    display: flex;
    justify-content: space-evenly;
    font-size:20px;
    text-align: center;
    
    
}

#contentmain div
{
    margin:30px 25px;
    padding:2%;
    text-align:center;
    border:3px solid #f1faee;
    border-radius: 28px;
    transition:all .5s ease-out;
    
}

#contentmain .content1:hover
{
    cursor: pointer;
    color:black;
    font-weight: bold;
    /* background-color: black; */
    transform:translateY(-2px);
}

@media (max-width: 800px) 
{
    .content
    {
        display:flex;
        flex-direction:column;
        font-size:25px;
        justify-content: space-evenly;
        margin: 10px 10px;
        align-items: center;
       
    }
    #contentmain div
    {
        /* margin:5px 0;
        height:220px;
        width:75%;
        text-align: center; */
        margin:10px 25px;
    padding:25px;
    text-align:center;
    border:3px solid f1faee;
    border-radius: 28px;
    }
}


#contentmain1
{
    /* background-color:blue; */
    /* width:100%;
    height:250px; */
    margin:0 auto;
    /* border:1px solid blue; */
    font-size:10px;
    display: flex;
    justify-content: space-evenly;
    font-size:20px;
    text-align: center;
    
    
}

#contentmain1 div
{
    margin:10px 25px;
    padding:2%;
    text-align:center;
    border:3px solid #f1faee;
    border-radius: 28px;
    transition:all .5s ease-out;
    
}

#contentmain1 .content2:hover
{
    cursor: pointer;
    color:black;
    font-weight:bold;
    /* background-color: black; */
    transform:translateY(-2px);
}

@media (max-width: 800px) 
{
    .content0
    {
        display:flex;
        flex-direction:column;
        font-size:25px;
        justify-content: space-evenly;
        margin: 10px 10px;
        align-items: center;
       
    }
    #contentmain1 div
    {
        /* margin:5px 0;
        height:220px;
        width:75%;
        text-align: center; */
        margin:10px 25px;
    padding:25px;
    text-align:center;
    border:3px solid f1faee;
    border-radius: 28px;
    }
}





/* content section */






