
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border:1px solid white;
    padding:.5rem 0;
    color: black;
    
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    padding-left:1rem;
    font-size:30px;
}

.navbar-links {
    height: 100%;
    width:50%;
 
    
   
    
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;

    
    
}

.navbar-links li {
    list-style: none;
    width:50%;
    text-align: center;
    transition: all .5s ;
    margin: 0 6px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size:18px;
}

.navbar-links li:hover {
    background-color: #ffcb77;
    transform: translateY(3px);
    
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        width: 100%;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
